body
{
    background: #202020;
}
.container
{
    display:flex;
    justify-content: center;
}
p, a
{
    color:white;
    text-decoration: bold;
    font-size: 18px;
    text-align: center;
    width:100%;
    transition: all 0.4s;
}
a:hover
{
    cursor:pointer;
    color:#802080;
    transform: scale(1.2);
}
.links
{
    position:absolute;
    top:20%;
}
.links div
{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:5px;
}
.title
{
    font-size:24px;
}
.desc
{
    margin-top:20px;
    display:block!important;
    width:500px!important;
    border-top: 5px ridge #505050;
}